/**/

#tbExchangeProductList { width:100%;}
#divExchangeProduct div { clear:both;}
#divExchangeProduct li { float:left;  margin-right:20px; width:250px;}
#divExchangeProduct li span { display:block; float:left; vertical-align:middle; width:70px;}
