/**/

#tbPointConfigList { width:100%;}
#divPointConfig div { clear:both; margin-left:10px;}
#divPointConfig div.ProductSelector { width:800px; border:solid 1px #dddddd; padding-top:10px; }
#divPointConfig div.ProductSelector li { float:left;}
#divPointConfig div.ProductSelector li span { display:block; float:left; vertical-align:middle; text-align:right; width:70px; padding-right:3px;}

#divPointConfig div.Editor { margin-top:10px;}
#divPointConfig div.Editor li {  margin-right:20px; width:500px; margin-top:5px;}
#divPointConfig div.Editor li span { display:block; float:left; vertical-align:middle; text-align:right; width:70px; padding-right:3px;}

.tabmenu { }
.tabmenu li { float:left; cursor:pointer; width:150px; height:25px; line-height:25px; text-align:center; vertical-align:middle; margin-right:1px; font-size:15px; background-color:#eee; border:1px solid #111; border-bottom:0px; }
.tabmenu li.hover { font-weight:bold;}
.tabmenu li.selected { font-weight:bold;cursor:default;background-color:#aaa; }
.tabbox { clear:both; height:auto; min-height:200px; margin:0px;  padding:10px; border-top:1px solid #111; }
.tabbox > div{background:#FFFFFF;}

.tabbox { text-align:left;}
.tabbox li { height:25px;}
.tabbox li span { margin-right:3px;}
.tabbox li input { margin-right:3px;}

.tabitem {}

#divPointConfigEditor { width:600px;margin-left:0px; margin-top:10px;}

#divProductCategoryPointConfigEditor { width:600px;margin-left:0px; margin-top:10px;}
#divProductCategoryPointConfigEditor ul.SimpleEditor li span.Header { width:60px; }

#divProductPointConfigEditor { width:600px; margin-top:10px; margin-left:0px;}
#divProductPointConfigEditor ul.SimpleEditor li span.Header { width:60px; }

