/**/

#divProductScopeEditor { width:600px;margin-left:0px; margin-top:10px;}
#divProductScopeEditor ul.SimpleEditor li span.Header { width:60px; }

.tabbox li { height:25px;}
.tabbox li span { margin-right:3px;}
.tabbox li input { margin-right:3px;}


#divProductScopeItemEditor { width:600px;margin-left:0px; margin-top:10px;}
#divProductScopeItemEditor ul.SimpleEditor li span.Header { width:60px; }

