/**/

.tabmenu { }
.tabmenu li { float:left; cursor:pointer; width:180px; height:25px; line-height:25px; text-align:center; vertical-align:middle; margin-right:1px; font-size:15px; background-color:#eee; border:1px solid #111; border-bottom:0px; }
.tabmenu li.hover { font-weight:bold;}
.tabmenu li.selected { font-weight:bold;cursor:default;background-color:#aaa; }
.tabbox { clear:both; height:auto; min-height:200px; margin:0px;  padding:10px; border-top:1px solid #111; }
.tabbox > div{background:#FFFFFF;}

.tabbox { text-align:left;}
#divProductHint li { height:25px;}
#divProductHint li span { margin-right:3px;}
#divProductHint li input { margin-right:3px;}

.tabitem {}

#divProductHintEditor { width:600px; margin-top:10px; margin-left:0px;}
#divProductHintEditor ul.SimpleEditor li span.Header { width:80px; }

