<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="fqn_OAEntities" connectionString="metadata=res://*/OA_Model.csdl|res://*/OA_Model.ssdl|res://*/OA_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=OA;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--自定义程序集路径-->
    <add key="DalAssemblyName" value="fqn.ItcastOA.Dal"/>
    <add key="DalNamespace" value="fqn.ItcastOA.Dal"/>
  </appSettings>
</configuration>