<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.5" />

    <customErrors mode="On" defaultRedirect="Index.aspx">
      <error statusCode="404" redirect="ErrorPageShow.aspx"/>
    </customErrors>
  </system.web>
  <appSettings>
    <!--<add key="EmailTitle" value="感谢注册fqn图书商城账号" />
    <add key="MyEmailAddress" value="1040732415@qq.com" />-->
    <!--<add key="EmailContent" value="感谢注册fqn图书商城账号" />-->
  </appSettings>
  <connectionStrings>

    <add connectionString="server=.;database=book_shop;uid = sa;password = 123;" name="serverPath" />
  </connectionStrings>
  
  
</configuration>
