<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("head", true)
</head>
<body>
    <div>
        this is a masterPage;
        this is head
        @RenderBody()
        this is foot
    </div>
</body>
</html>
