<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DDay.iCal" version="1.0.2.575" targetFramework="wpa81" />
  <package id="DrawerLayout" version="1.0.4" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="wpa81" />
  <package id="WinRTXamlToolkit.Controls.Calendar.WindowsPhone" version="1.8.1.0" targetFramework="wpa81" />
  <package id="WinRTXamlToolkit.Controls.DataVisualization.WindowsPhone" version="1.8.1.0" targetFramework="wpa81" />
  <package id="WinRTXamlToolkit.Controls.Gauge.WindowsPhone" version="1.8.1.0" targetFramework="wpa81" />
  <package id="WinRTXamlToolkit.Debugging.WindowsPhone" version="1.8.1.0" targetFramework="wpa81" />
  <package id="WinRTXamlToolkit.WindowsPhone" version="1.8.1.0" targetFramework="wpa81" />
</packages>